*{
    margin:0;
    padding:0;
    box-sizing: 0;
    
}

*, *:before, *:after {
    box-sizing: border-box;
  }

body{
    background: #FFFFFF;
    font-family: "Montserrat", sans-serif;
}

/*
    [ A ]
*/
.container-wrapper{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}


.nav_wrapper{
    padding: 2.5rem;
    display: flex;
    color: #1E1E5D !important;
    justify-content: space-between;
    width: 100%;
    
}

.nav_ul{
    list-style: none;
    width: auto;
}

.nav_ul > li{
    margin-left: 3rem;
    display: inline-block;
    overflow: hidden;
    border-bottom: 2px solid #F5F9FC;
}

.nav_ul  > li > a > small{
    color: #FF6584;
}


.nav_ul > li:hover{
    border-bottom: 2px solid #FF6584;
    cursor: pointer;
}

.icon-name{
    
    background: #FFFFFF;
    border-bottom: #FF6584 1px solid;
}


.home{
    display: flex;
    margin: 0 auto 5rem auto;
    width: 80%;
    justify-content: center;
    height: 100%;
    flex-direction: row;
    
}

.home-information{
    display: flex;
    width: 20rem;
    justify-content: center;
    flex-direction: column;
}

.image-home{
    margin-top: 5rem;
    margin-left: 5rem;
    width: 15rem;
    height: auto;
    z-index: -1;
}

.home_name{
    color:#1E1E5D;
    font-size: xx-large;
    margin-bottom: 2rem;
}

.home_name > b{
    border-bottom: 2px solid #FF6584;
}

.home_social_media{
    margin-top: .8rem;
    list-style: none;
}

.home_social_media > li{
    display: inline-block;
    margin: 10px;
    font-size: 25px;
}
.home_social_media > li:hover{
    color: #FF6584;
    cursor: pointer;
}

.home-resume-btn{
    border: none;
    background: #FF6584;
    color: white;
    font-size: larger;
    width: 12rem;
    margin: 1rem 0 0 0;
    padding: .5rem;
}


.home-resume-btn:hover{
    background: #1E1E5D;
    cursor: pointer;
}


.portfolio{
    display:flex;
    width: 100%;
    color: #1E1E5D;
    flex-direction: column;
    padding-bottom: 5rem;
    height: auto;
    background: #1E1E5D;
}

.portfolio > .portfolio-title{
    margin: 3rem auto;
    color: #1E1E5D;
    padding: 1rem;
    background: #FFFFFF;
}

.portfolio > .portfolio-title > h1 {
    border-bottom: 1px solid #FF6584;
} 


.card-container{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    justify-content: center;
    padding: 2rem;
}

.card{
    flex-direction: row;
    height: 40rem;
    margin: 1.5rem;
    width: 30rem;
    background: #FFFFFF;
    transition: ease-in .2s;
    -webkit-box-shadow: -1px 10px 93px -49px rgba(0,0,0,1);
-moz-box-shadow: -1px 10px 93px -49px rgba(0,0,0,1);
box-shadow: -1px 10px 93px -49px rgba(0,0,0,1);
}

.card:hover{
    transform: scale(1.05);
}

.card-img{
    height: 25rem;    
    padding: 1rem;
    width: 100%;
    object-fit: cover;
}   


.card-content{
    margin: 0 auto;
    display: flex;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.card-content > p{
    font-size: x-large;
    text-align: center;
    align-self: center;
    padding: 1rem;
    cursor: default;
}

.card-content > ul {
    list-style: none;
    margin: 0 auto;
}
.card-content > ul > li{
    display: inline-block;
    font-size: .2rem;
    margin: 1rem;
    text-align: center;
    padding: .6rem;
    width: 4rem;
    color: #1E1E5D;
    background: #FFFFFF;
}


.card-content > ul > li:hover{
    color: #fff;
    background: #FF6584;
    cursor: pointer;
}


.about{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    height: auto;
    width: 100%;
}

.about-title{
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-title > h1{
    border-bottom: 3px solid #FF6584;
    margin-top: 5rem;
}

.about-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 5rem !important;
    margin: 0 auto;

}

.about-card > p{
    font-size: x-large;
}

.about-card > h2{
    margin-top: 5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.about-skills{
    margin: auto;
}

.about-skills > ul{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 2rem auto;
}
.about-skills > ul > li{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    display: inline-block;
    list-style: none;
    color: white;
    background: #1E1E5D;
    padding: 1.5rem;
    font-size: 1rem;
    border: 2px solid #FFFFFF;
}


.about-skills > ul > li:hover{
    background: #FF6584;
    color: #fff;
    cursor: default;
    
}

.about-text{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 3rem;
    width: 50rem;
    margin: 0 auto;
    text-align: justify;
}

.cv{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}


.about-education{
    display: flex;
    text-align: start;
    margin: 5rem auto;
}

.about-education > ul{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

.about-education > ul > li{
    font-size: x-large;
    padding: 1.5rem;
}
.about-education > ul > li > a{
    padding-right: 2rem;
}

.about-education > ul > li > small{
    justify-items: self-start;
    color: #FF6584;
    margin-right: 1rem;
}

.courses{
    display: flex;
    margin-top: 5rem;
}





/* Media querys */

@media (max-width: 680px) {
  
    .home{
        
    }  
    
    
    .home-information{
       font-size: 15px !important;
        margin: 2rem auto;
    }
    .image-home{
        height: 10rem;
        width: 10rem;
        margin: 0 auto;
    }
    .about-card > h2{
        font-size: 18px;
    }
    .about-skills > ul > li{
        font-size: 15px;
        padding: .5rem;
    }
    .about-text{
        font-size: 15px !important;
        width: 80%;
    }

    .about-education > ul > li{
        font-size: 15px;
    }

}